html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
   margin: 0;
   padding: 0;
   border: 0;
   font-size: 100%;
   font: inherit;
   vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
   display: block;
}

body {
   line-height: 1;
}

ol,
ul {
   list-style: none;
}

blockquote,
q {
   quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
   content: "";
   content: none;
}

table {
   border-collapse: collapse;
   border-spacing: 0;
}

@font-face {
   font-family: "TT Lakes";
   src: url(./fonts/TTLakes-Regular.eot);
   src: url(./fonts/TTLakes-Regular.eot?#iefix) format("embedded-opentype"),
      url(./fonts/TTLakes-Regular.woff) format("woff"),
      url(./fonts/TTLakes-Regular.ttf) format("truetype");
   font-weight: normal;
   font-style: normal;
}

@font-face {
   font-family: "TT Lakes";
   src: url(./fonts/TTLakes-Medium.eot);
   src: url(./fonts/TTLakes-Medium.eot?#iefix) format("embedded-opentype"),
      url(./fonts/TTLakes-Medium.woff) format("woff"),
      url(./fonts/TTLakes-Medium.ttf) format("truetype");
   font-weight: 500;
   font-style: normal;
}

@font-face {
   font-family: "TT Lakes";
   src: url(./fonts/TTLakes-Bold.eot);
   src: url(./fonts/TTLakes-Bold.eot?#iefix) format("embedded-opentype"),
      url(./fonts/TTLakes-Bold.woff) format("woff"),
      url(./fonts/TTLakes-Bold.ttf) format("truetype");
   font-weight: bold;
   font-style: normal;
}

.header {
   width: 100%;
   height: 80px;
   display: flex;
   justify-content: space-between;
   align-items: center;
   background: #fff;
   border-bottom: 1px solid #d9fff5;
}
.header div {
   height: 100%;
   display: flex;
   align-items: center;
}
.header__left-2:after {
   content: "";
   display: inline-block;
   width: 2px;
   height: 32px;
   margin-left: 16px;
   background: #eaeaea;
   border-radius: 1px;
}
.header__left img {
   margin-left: 16px;
}
.header__additional {
   position: absolute;
   top: -10000px;
}
.header__right img {
   margin-right: 16px;
}

.main__head {
   display: flex;
   justify-content: space-between;
   height: 40px;
   margin: 24px 0 24px 0;
}

.main__header {
   display: inline-flex;
   justify-self: center;
   align-self: center;
}
.main__header:before {
   content: "";
   display: inline-block;
   width: 4px;
   height: 40px;
   background: url(img/main/highlight.svg);
}
.main__header h1 {
   margin-left: 16px;
   line-height: 40px;
   letter-spacing: -0.6px;
   font-family: "TT Lakes";
   font-weight: bold;
   font-style: normal;
   font-size: 28px;
}

.main__button {
   display: none;
}
.main__button img {
   margin-right: 16px;
}

.main__filter {
   margin: 0 0 24px 16px;
}

.main__list {
   display: flex;
   overflow-y: auto;
   overflow-x: scroll;
   font-family: "TT Lakes";
   font-weight: 500;
   font-style: normal;
   font-size: 16px;
   color: #7e7e82;
   scrollbar-width: none;
}
.main__list::-webkit-scrollbar {
   width: 0;
}
.main__list-item {
   display: inline-block;
   flex-shrink: 0;
   line-height: 40px;
   height: 40px;
   padding: 0 16px;
   border-radius: 6px;
   border: 2px solid transparent;
}
.main__list-item:hover {
   cursor: pointer;
   background: #ffffff;
   border: 2px solid #b8ffec;
}

.main__section {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

.main__text {
   margin: 0 16px;
   display: flex;
   flex-direction: column;
   justify-content: space-around;
}

.main__paragraphs {
   margin-bottom: 10px;
}
.main__paragraphs p {
   font-family: "TT Lakes";
   font-weight: normal;
   font-style: normal;
   font-size: 14px;
   text-align: left;
   line-height: 18px;
   letter-spacing: 0.2px;
   color: #1b1c21;
}
.main__paragraphs p:not(:first-of-type) {
   display: none;
}

.main__paragraph--1 {
   margin-bottom: 24px;
}

.main__next {
   display: flex;
   flex-direction: row;
   height: 24px;
   margin-bottom: 16px;
}
.main__next img {
   display: inline-block;
   line-height: 24px;
}
.main__next p {
   line-height: 24px;
   font-family: "TT Lakes";
   font-weight: 500;
   font-style: normal;
   font-size: 16px;
}

.main__photo {
   display: flex;
   justify-content: center;
   width: 320px;
   height: 176px;
}

@media screen and (min-width: 346px) {
   .main__photo {
      width: 360px;
   }
   .main__photo img {
      width: 360px;
   }
}

@media screen and (min-width: 600px) {
   .header__left-2:after {
      display: none;
   }
   .header__left-2:before {
      content: "";
      display: inline-block;
      width: 2px;
      height: 32px;
      margin-left: 16px;
      background: #eaeaea;
      border-radius: 1px;
   }
   .header__additional {
      position: static;
      align-self: flex-end;
   }
   .header__additional:after {
      content: "";
      display: inline-block;
      width: 2px;
      height: 32px;
      margin-right: 16px;
      background: #eaeaea;
      border-radius: 1px;
   }
   .main__section {
      flex-direction: row;
      align-items: flex-start;
   }
   .main__paragraphs p:first-of-type {
      margin-bottom: 24px;
   }
   .main__paragraphs p:nth-of-type(2) {
      display: inline;
   }
   .main__photo {
      margin-right: 24px;
   }
}

@media screen and (min-width: 768px) {
   .main__paragraphs {
      margin-right: 48px;
   }
}

@media screen and (min-width: 1000px) {
   .main__paragraphs {
      margin-bottom: 13px;
   }
   .main__paragraphs p:nth-of-type(3) {
      display: inline;
   }
   .main__photo {
      width: 40%;
      height: 250px;
   }
   .main__photo img {
      width: 530px;
   }
}

@media screen and (min-width: 1120px) {
   .header {
      display: none;
   }
   .main__button {
      display: flex;
      justify-content: center;
      align-items: center;
   }
   .main__button img {
      margin: 0 32px 0 8px;
   }
   .main__button span {
      line-height: 24px;
      font-family: "TT Lakes";
      font-weight: 500;
      font-style: normal;
      font-size: 16px;
   }
}

html {
   font-family: "TT Lakes";
   font-weight: normal;
   font-style: normal;
}

body {
   background: #f8f8f8;
}

/*# sourceMappingURL=style.css.map*/
